# Python caches
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Editor / OS
.DS_Store
.vscode/
.idea/

# Virtual environments
.venv/
.venv-release/

# Build artifacts
dist/

# Sphinx build output
docs/_build/
